<div class="container" style="height: 100vh;">
    <div class="row h-100">
        <div class="col-12 d-flex flex-column justify-content-center align-items-center">
            <h2>Log in</h2>
        
            <form class="w-50" [formGroup]="loginForm" (submit)="login()">
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input 
                    type="email" 
                    class="form-control" 
                    id="email" 
                    aria-describedby="email" 
                    placeholder="Email"
                    formControlName="email">

                    <!-- Validations -->
                    @if(email?.invalid && (email?.dirty || email?.touched)) {
                        <p *ngIf="email?.errors?.['required']" class="text-danger mt-2">Email is required</p>
                    }
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input 
                    type="password" 
                    class="form-control" 
                    id="password" 
                    placeholder="Password"
                    formControlName="password">

                    <!-- Validations -->
                    @if(password?.invalid && (password?.dirty || password?.touched)) {
                        <p *ngIf="password?.errors?.['required']" class="text-danger mt-2">Password is required</p>
                    }
                </div>

                <div class="mb-2 d-flex justify-content-between">
                    <a 
                        routerLink="/auth/create"
                        class="text-secondary">You don't have an account yet? Register</a>
                    <a class="text-secondary">Forgot your password? Change it</a>
                </div>

                <button type="submit" class="btn btn-primary">Log In</button>
              </form>
        </div>
    </div>
</div>