<div class="container" style="height: 100vh;">
    <div class="row h-100">
        <div class="col-12 d-flex flex-column justify-content-center align-items-center">
            <h2>Change Password</h2>
        
            <form class="w-50" [formGroup]="changePassword" (submit)="changePass()">
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input 
                    type="password" 
                    class="form-control" 
                    id="password" 
                    placeholder="Password"
                    formControlName="password">

                    <!-- Validations -->
                    @if(password?.invalid && (password?.dirty || password?.touched)) {
                        <p *ngIf="password?.errors?.['required']" class="text-danger mt-2">Password is required</p>
                        <p *ngIf="password?.errors?.['minlength']" class="text-danger mt-2">Password must be minimum 8 characters</p>
                    }
                </div>
                <div class="mb-3">
                    <label for="confirm-password" class="form-label">Confirm Password</label>
                    <input 
                      type="password" 
                      class="form-control" 
                      id="confirm-password" 
                      placeholder="Confirm Password"
                      formControlName="confirmPassword">
  
                      <!-- Validations -->
                      @if(confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)) {
                          <p *ngIf="confirmPassword?.errors?.['required']" class="text-danger mt-2">Confirm password is confirmed</p>
                      }
                  </div>

                <div class="mb-2 d-flex justify-content-between">
                    <a 
                        routerLink="/auth/login"
                        class="text-secondary">You have an account? Log In</a>
                </div>

                <button type="submit" class="btn btn-primary">Change Password</button>
              </form>
        </div>
    </div>
</div>