<div class="container" style="height: 100vh;">
    <div class="row h-100">
        <div class="col-12 d-flex flex-column justify-content-center align-items-center">
            <h2>Verify Account</h2>
        
            <form class="w-50" [formGroup]="resetPassword" (submit)="resetPasswordEmail()">
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input 
                    type="email" 
                    class="form-control" 
                    id="email" 
                    aria-describedby="email" 
                    placeholder="Email"
                    formControlName="email">

                    <!-- Validations -->
                    @if(email?.invalid && (email?.dirty || email?.touched)) {
                        <p *ngIf="email?.errors?.['required']" class="text-danger mt-2">Email is required</p>
                    }
                </div>

                <div class="mb-2 d-flex justify-content-end">
                    <a 
                        routerLink="/auth/login"
                        class="text-secondary">I remember my password? Log In</a>
                </div>

                <button type="submit" class="btn btn-primary">Verify Account</button>
              </form>
        </div>
    </div>
</div>